* {
  margin: 0;
}

.head-wrapper {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  background-color: rgb(211, 41, 41);
  width: 100%;
  height: auto;
  color: white;
  padding-bottom: 5px;
}

.head-title {
  width: 80%;
  text-align: center;
  font-size: 25px;
}

.head-cart {
  width: 20%;
}
